<!-- Header Template -->
<header class="site-header py-3 bg-darker">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark">
            <a class="navbar-brand font-weight-bold text-primary" href="{% url 'home' %}">Spiritual Gifts Survey</a>
            <button class="navbar-toggler border-primary" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link text-light" href="{% url 'home' %}">Home</a>
                    </li>
                    <!-- Add more navigation items as needed -->
                </ul>
            </div>
        </nav>
    </div>
</header> 